<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="cart_pole_gazebo">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find ros2_control_demo_example_xx)/config/cart_pole_controllers.yaml</parameters>
      </plugin>
    </gazebo>
a
  </xacro:macro>

</robot>
